<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.laba.persistence.contract.IContractDAO">

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO bonus_payments (amount, description, monthly_payments_id) VALUES (#{amount}, #{description},
        #{monthly_payments_id})
    </insert>

    <sql id="contractSelect">
        SELECT * FROM bonus_payments
    </sql>

    <select id="getById" resultType="Contract">
        <include refid="contractSelect"/>
        WHERE id = #{id}
    </select>

    <update id="update">
        UPDATE bonus_payments SET amount = #{amount}, description = #{description} WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM bonus_payments WHERE id = ?
    </delete>

    <resultMap id="ContractResult" type="com.solvd.laba.domain.contract.Contract" autoMapping="false">
        <id column="contract_id" property="id"/>

    </resultMap>

</mapper>